body{
  margin: 0px;
  padding: 0px;
  background-color: rgb(247, 248, 247);
  }


.logo{
  margin: 30px;   
  position: absolute;
  width: 220px;
  top: -15px;  
  bottom: 0px;
  left: 0px;
}





.menu{
  width: 100%; /*faz a tarja ir ate o final da pagina*/
  height: 120px;/*largura da tarja*/
  background: rgb(206, 69, 27);
  padding: 10px;20px 
  margin-right: 50px; 
  
}

.menu ul{
  text-align: right
  
}
.menu ul li{
  display: inline-block;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px; /*para centralizar o texto na tarja*/
  
}

.menu ul li a{
  
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 50px;
  

}
.menu a:hover{
    
  color:black
  
  }
 .amarelo{
 
  top: 140px;
  margin-left: 5px;
  width: 480px;
  height: 780px;
  background-color: yellow;
  position: absolute;
 

    
}
.amarelo img{
  width: 100%;
  height: 100%;
  border-width: 6px;
  border-style: solid;
  border-color: black;
  


}

.vermelho{
  top: 140px;
  width: 480px;
  height: 390px;
  margin-left: 505px;
  position: absolute; 
  background-color: rgb(255, 0, 0);
  

}
.vermelho img{
  width: 100%;
  height: 100%;
  border-width: 6px;
  border-style: solid;
  border-color: black;
 
}
.roxo{
  top: 550px;
  width: 480px;
  height: 370px;
  margin-left: 505px;
  position: absolute; 
  background-color: rgb(53, 4, 63);

}
.roxo img{
  width: 100%;
  height: 100%;
  border-width: 6px;
  border-style: solid;
  border-color: black;

}

.verde{
  top: 550px;
  width: 480px;
  height: 370px;
  margin-left: 1005px;
  position: absolute; 
  background-color: rgb(4, 107, 38);

}

.verde img{
  width: 100%;
  height: 100%;
  border-width: 6px;
  border-style: solid;
  border-color: black;
}
.rosa{
  top: 140px;
  width: 905px;
  height: 390px;
  margin-left: 1005px;
  position: absolute; 
  background-color: rgb(233, 8, 222);

}
.rosa img{
  width: 100%;
  height: 100%;
  border-width: 6px;
  border-style: solid;
  border-color: black;

}

.azul{
  top: 550px;
  width: 405px;
  height: 370px;
  margin-left: 1505px;
  position: absolute; 
  background-color: rgb(53, 32, 236);

}
.azul img{
  width: 100%;
  height: 100%;
  border-width: 6px;
  border-style: solid;
  border-color: black;

}